
.weather-card-wrapper {
max-width: 600px;
margin:30px auto;
   
}


.weather-card {

    border:1px solid #e7e7e7;
    border-radius: 10px;
    padding:30px;
    margin-bottom:20px;
}


.weather-card ul {

list-style-type: none;

}


.weather-card li:first-letter {

    text-transform: capitalize;
    
    }

.main-temperature {

    display:inline;
    position:relative;
    top:10px;
}


.main-temperature .degrees {

    font-size:48px;
}


.main-temperature .units {

    position:relative;
    top:-21px;
   
}


[type="submit"] {
    font-family: "FontAwesome";
  }

.enter-city-input {
    border: 1px solid #ced4da;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    position: relative;
    top: 2px;
  }

  .units .active {
color:#212529;
cursor:text;
text-decoration:none;

  }


.forecast {
margin-top:20px;
text-align:center;

  } 

  .forecast img {
 max-width:52px;
    
      } 

.forecast-date {

    opacity:0.6;
}

.forecast-temp {

    font-size:13px;
}


.forecast-min-temp {

    opacity:0.6;
}

